doctype html
html(lang='en')
  head
    title Japanese flash cards
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous")

    link(rel="stylesheet" href="style.css")

  body
    nav(class="navbar navbar-light bg-light green")
      div(class='container')
        span(class='navbar-brand') Japanese flash cards
    div#root

  script(src=script)
