body {
  margin-bottom: 30px;
}

.white-text {
  color: white;
}

button.green, nav.green {
  border-color: #21ce99;
  background-color: #21ce99;
  color: white;
}

nav.green .navbar-brand, nav.green .navbar-brand:hover {
  color: white;
}

nav.grey {
  border-color: #f45532;
  background-color: #f45532;
  color: white;
}

nav.grey .navbar-brand, nav.grey .navbar-brand:hover {
  color: white;
}

button.green:hover {
  border-color: #1ebd8c;
  background-color: #1ebd8c;
  color: white;
}


button.red {
  border-color: #f45532;
  background-color: #f45532;
  color: white;
}

button.red:hover {
  border-color: #cd2d0b;
  background-color: #cd2d0b;
  color: white;
}

input.red, input.red:focus {
  border-color: #f45532;
  background-color:#feefec;
}

label.red {
  color: #f45532;
}

.large-section {
  padding: 30px 0;
  margin-bottom: 30px;
}

.app-header {
  background-color: #2a2c2d;
}

.card {
  padding:0;
  min-width: 5em;
  margin-bottom: 14px;
  border-width: 0 0 0 8px;
}

.card.green {
  border-color: #21ce99;
  background-color: #f1fdf9;
}

.card.green:hover {
  background-color: #e0faf2;
}

.card.red {
  border-color: #f45532;
  background-color: #feefec;
}

.card.red:hover {
  background-color: #fde0da;
}

.card button {
  background-color: inherit;
  border-width: 0;
  padding: 1em;
  margin: 0;
  cursor: pointer;
  outline-width:0;
}

.card-title {
  font-size:2em
}

.card-body {
  text-align:center;
}

input.form-control {
  border-radius:0px;
  border-width: 0 0 2px 0;
}

input.form-control:focus {
  border-color: #21ce99;
}

input.form-control[readonly] {
  background-color: white;
}


.edit-card-input {
  text-align:center;
}

.edit-card-input-kanji {
  font-size:3em;
}

.progress-bar {
  background-color: #21ce99;
  height: 1.5em;
}

.progress-bar-text {
  text-align: center;
}
